{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}سایت من {% endblock %}</title>

    <link href="https://cdn.fontcdn.ir/Font/Persian/IranSans.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>


<body>
    <header class="navbar">
    {% if messages %}
        <ul>
            
                {% for message in messages %}
                <li>
                    {{messages}}
                </li>
                {% endfor %}
            
        </ul>
        
    {% endif%}

        <h1 class="logo"> <a href="{% url 'home'%}">Django Lab</a></h1>
        {% if user.is_authenticated%}
            {{user.first_name}} سلام
            <a href="{% url 'logout'%}">خروج</a>
        {%else%}
            <a href="{% url 'login' %}">ورود</a>
            <a href="{% url 'signup' %}">ثبت نام</a>
        {% endif %}
        <nav>
            <a href="{% url 'home'%}">سایت من</a>
            <a href="#">درباره ما</a>
            <a href="#">تماس</a>
        </nav>

    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p> گپی رایت</p>
    </footer>

</body>
</html>